*
!.gitignore
!.gitmodules

!.vscode/
!.vscode/**
.vscode/settings.json

!CMakeLists.txt

!*.ioc
!README*
!LICENSE*

!images/
!images/**
!ThirdParts/
!ThirdParts/**
!Core/
!Core/**
!User/
!User/**
!node-RED/
!node-RED/**